In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('movies.csv')

movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
ratings = pd.read_csv('ratings.csv')

ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [7]:
def search_movie():
    query = input("Enter a movie name: ").lower()
    results = movies[movies['title'].str.lower().str.contains(query)]

    if results.empty:
        print("‚ùå No matches found.")
        return

    rating_summary = (
        ratings.groupby('movieId')['rating']
        .agg(['mean', 'count'])
        .rename(columns={'mean': 'avg_rating', 'count': 'num_ratings'})
        .reset_index()
    )

    results_with_ratings = results.merge(rating_summary, left_on='movieId', right_on='movieId', how='left')
    results_with_ratings.fillna({'avg_rating': 0, 'num_ratings': 0}, inplace=True)
    
    print("\nüé¨ Here are some matches:")
    for _, row in results_with_ratings.iterrows():
        print(f"movieId: {row['movieId']}, Title: {row['title']}, "
              f"‚≠ê Avg Rating: {row['avg_rating']:.2f} ({int(row['num_ratings'])} ratings)")

In [8]:
search_movie()

üé¨ Here are some matches:
movieId: 1, Title: Toy Story (1995), ‚≠ê Avg Rating: 3.92 (215 ratings)
movieId: 3114, Title: Toy Story 2 (1999), ‚≠ê Avg Rating: 3.86 (97 ratings)
movieId: 78499, Title: Toy Story 3 (2010), ‚≠ê Avg Rating: 4.11 (55 ratings)